<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Contacts
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>

    <ion-item *ngFor="let contact of contactList">
      <ion-icon slot="start" name="call-outline"></ion-icon>
      <ion-label>
        <h2>{{contact.name.givenName}} {{contact.displayName}} </h2>
        <h3>{{contact.phoneNumbers[0].value}}</h3>
      </ion-label>
      <ion-buttons>
        <ion-button (click)="callNow(contact.phoneNumbers[0].value)" slot="end"><ion-icon color="primary" name="call-outline"></ion-icon></ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>


</ion-content>
